@model IEnumerable<Vidly.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Movies</h1>

<div>
    @Html.ActionLink("New movie", "MovieDetail", "movies", null, new { @class = "btn btn-primary" })
</div>
<span class="help-block"></span>
<table id="movieTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*        @foreach (var mov in Model)*@
        @*        {*@
        @**@
        @*            <tr>*@
        @*                <td>*@
        @*                    @Html.ActionLink(mov.Name, "MovieDetail", "Movies", new { id = mov.Id }, null)*@
        @*                </td>*@
        @*                <td>*@
        @*                    @mov.Genere.Name*@
        @*                </td>*@
        @*            </tr>*@
        @**@
        @**@
            @*        }*@
               </tbody>
        </table>

        @section scripts
{
            <script>
                $(document).ready(function () {
                    var jsonTable = $('#movieTable').DataTable({
                        ajax: {
                            url: "api/movies/",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "name",
                                render: function (data, type, movie) {
                                    return "<a href='/movies/moviedetail/" + movie.id + "'>" + movie.name + "</a>";
                                }
                            },
                            { data: "genere.name" },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button class='btn-link js-button' data-movie-id=" + data + ">Delete</button>";
                                }
                            }
                        ]
                    });

                    $("#movieTable").on("click", ".js-button", function () {
                        var button = $(this);
                        bootbox.confirm("Are you sure to Delete?", function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "delete",
                                    success: function () {
                                        jsonTable.rows(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });

                    });
                });
            </script>
        }