@model IEnumerable<Vidly.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
<p>
    @Html.ActionLink("Add Customer","new","customer",new {@class="btn btn-primary"}) 
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    @if (Model.Any())
    {

        foreach (var cus in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.ActionLink(cus.CustomerName, "Edit", "Customers", new { id = cus.CustomerId }, null)
                    </td>
                    <td>@cus.MembershipType.Name</td>
                </tr>
            </tbody>
        }
    }
    else
    {
        <tbody>
            <tr>
                <td>No Cutomers in database</td>
            </tr>
        </tbody>
    }
</table>
