@{
    ViewBag.Title = "New Rentals Form";
}

<h2>New Rental Form</h2>
<form id="rentalForm">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" required data-rule-validcustomer="true" type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" data-rule-hasMovies="true" type="text" value="" class="form-control typeahead" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="listMovies"  class="list-group"></ul>
        </div>
    </div>


    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>

        $(document).ready(function () {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('CustomerName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/Api/Customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/Api/Movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead(
            { minLength: 3, highlight: true },
            {
                name: 'customers',
                display: 'customerName',
                source: customers
            }).on('typeahead:select', function (e, customer) { vm.customerId = customer.customerId; });

            $('#movie').typeahead(
            { minLength: 3, highlight: true },
            {
                name: 'Movies',
                display: 'name',
                source: movies
            }).on('typeahead:select', function (e, movie) {

                $("#listMovies").append("<li class='list-group-item'>" + movie.name + "</li>");
                vm.movieIds.push(movie.id);
                $("#movie").typeahead("val", "");
            });

            $.validator.addMethod("validCustomer", function() {
                return vm.customerId && vm.customerId !== 0;
            }, "Wrong name");

            $.validator.addMethod("hasMovies", function() {
                return vm.movieIds != null && vm.movieIds.length > 0;
            }, "No movies selected");
            $("#rentalForm").validate({
                submitHandler: function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/api/rentals",
                        method: "post",
                        data: vm
                    }).done(function () {
                        toastr.success("Sucessfully added");
                    }).fail(function () {
                        toastr.error("fail");
                    });
                }
            });


        });

    </script>
}